body {
    background-color: rgb(144, 255, 203);
    font-size: 1.6em;
}
menu ul {
    list-style: none;
}
menu, ul {
    padding-left: 0;
}
menu ul li {
    display: inline-block;
}
menu a {
    display: block;
    padding: 0 10px;
}